# 1. GENERAL PATH
PROJECT_PATH=/path/to/your/project/ #example: /Users/elbrus/bi_projects/
BASE_RAW_FILE_PATH=/path/to/your/main/raw/file/folder #example: /Users/elbrus/OneDrive/Documents/

# 2. SPECIFIC PROJECT PATH 1
RC_RAW_FILE_PATH=/path/to/the/rc_raw_file/ #example: /Users/elbrus/OneDrive/Documents/rc_raw_file/
RC_FOLDER_STRUCTURE_JSON=/path/to/the/rc_folder_structures.json #example: /Users/elbrus/bi_projects/report_rc/rc_folder_structures.json

# format : {"FOLDER_ID" : ["store_id","country","currency","platform","store"]}
# can define as many stores as needed
RC_SHOPEE_STORE_INFO_1={"ABC_12345": ["12345", "ID", "IDR", "SHOPEE", "ABC"]}
RC_SHOPEE_STORE_INFO_2={"DEF_67890": ["67890", "SG", "SGD", "SHOPEE", "DEF"]}
RC_SHOPEE_STORE_INFO_3={"GHI_11234": ["11234", "SG", "SGD", "SHOPEE", "GHI"]}
RC_SHOPEE_STORE_INFO_4={"JKL_12526": ["12526", "TH", "THB", "SHOPEE", "JKL"]}
RC_SHOPEE_STORE_INFO_5={"MNO_56745": ["56745", "MY", "MYR", "SHOPEE", "MNO"]}
RC_SHOPEE_STORE_INFO_6={"PQR_03452": ["03452", "ID", "IDR", "SHOPEE", "PQR"]}
RC_SHOPEE_STORE_INFO_7={"STU_23468": ["23468", "ID", "IDR", "SHOPEE", "STU"]}
RC_SHOPEE_STORE_INFO_8={"VWX_90009": ["90009", "ID", "IDR", "SHOPEE", "VWX"]}

# 3. GOOGLE BIGQUERY SERVICE ACCOUNT
GBQ_PROJECT_ID="YOUR_GBQ_PROJECT_ID"
GBQ_PRIVATE_KEY_ID="YOUR_GBQ_PRIVATE_KEY_ID"
GBQ_PRIVATE_KEY="YOUR_GBQ_PRIVATE_KEY"
GBQ_CLIENT_EMAIL="YOUR_GBQ_CLIENT_EMAIL"
GBQ_CLIENT_ID="YOUR_GBQ_CLIENT_ID"
GBQ_CLIENT_X509_CERT_URL="YOUR_GBQ_CLIENT_X509_CERT_URL"